@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", serif;
    margin: 0;
    color: #fff;
}
#header_logo {
    height: 8vh;
}

main{
    background-color: rgb(60,86,84);
    display: flex;
    justify-content: center;
    padding: 10vh 22vw;
}
#list_body{
    display: block;
}

#list_body {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

h1 {
    font-weight: 700;
    text-align: center;
    color: #333;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li:last-child {
    border-bottom: none;
}

.task {
    flex-grow: 1;
    margin-left: 10px;
    color: #333;
}

input[type="checkbox"] {
    transform: scale(1.2);
    cursor: pointer;
}

.garbage {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
